<script setup>
import { reactive } from 'vue'
import { CpuChipIcon, GlobeEuropeAfricaIcon, LinkIcon, FingerPrintIcon, CubeTransparentIcon, TableCellsIcon, GlobeAltIcon, EyeIcon, BanknotesIcon, UsersIcon, RocketLaunchIcon, CursorArrowRippleIcon, DevicePhoneMobileIcon, PhoneIcon, DocumentCheckIcon, CurrencyDollarIcon, ArrowPathRoundedSquareIcon, LockClosedIcon, ComputerDesktopIcon, ArrowPathIcon, FaceSmileIcon, SunIcon, CurrencyPoundIcon } from '@heroicons/vue/24/solid'

const objectives = reactive([
  {
    icon: RocketLaunchIcon, title: 'Our Mission', description: 'To replace exploitative food systems that damage biodiversity impacting hundreds of millions of small-holder farmers around the world'
  },
  { icon: CursorArrowRippleIcon, title: 'Our Aim', description: 'To re-engineer the concept of modern farming through digitization and smart organic product development in the agricultural industry' },
  {
    icon: DocumentCheckIcon, title: 'The Strategy', description: 'To drive a clean and just urban food transition by using food waste to create organic fertilizer, animal feed and energy for hybrid farming systems'
  },
])

const aspects = reactive([
  {
    icon: CubeTransparentIcon, color: '#11fcf7', title: '', text: 'Develop interconnected networks of members in digitised hybrid regenerative farming.'
  },
  {
    icon: ArrowPathRoundedSquareIcon, color: '#004346', title: '', text: 'Upskill members in advanced circular economics and Climate Change adaptation.'
  },
  {
    icon: CpuChipIcon, color: '#912c00', title: '', text: 'Invest in members and facilitate access to tech and grow-on-demand markets.'
  },
  {
    icon: TableCellsIcon, color: '#912c00', title: '', text: 'Empower members to build their financial histories and creditworthiness in a digital economy.'
  }
])


</script>

<template>
  <div class="about bg-purple-50">
    <!-- About -->
    <section id="about" class="py-10 px-10">
      <div class="container mx-auto max-w-5xl space-y-5">
        <h3 class="text-center font-extrabold mb-10">About Us</h3>
        <div class="mb-5">
          <h4 class="text-2xl font-semibold leading-8 tracking-tight text-[#600060]">AVN's Mission and Vision
            <br>
            <span class="text-gray-500 text-xl font-bold">Leading in Social Economic & Climate Impact</span>
          </h4>
        </div>
        <p>Our mission is to revolutionise conventional farming by creating alternatives that challenge the financial
          systems that exclude and exploit farmers in the Global South. We succeed by improving the overall livelihoods of
          Farmer Members in our supply chain thereby increasing local economic impact, boosting climate resilience, and
          enhancing quality control. </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <img src="@/assets/images/green_hse.png" alt="" class="w-full h-full rounded-2xl shadow-md">
          </div>
          <div class="space-y-5">
            <div class="">
              <div v-for="(objective, j) in objectives" :key="j" class="px-10 py-4 mb-10 space-y-3 md:mb-3">
                <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center">
                  <component :is="objective.icon" class="text-white w-6 h-6" />
                </div>
                <h5 class="text-xl text-gray-800">{{ objective.title }}</h5>
                <p>{{ objective.description }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="py-10 space-y-5">
          <h4 class="text-2xl text-center font-semibold leading-8 tracking-tight md:max-w-3xl mx-auto text-[#600060]">
            Explanation of
            the
            innovative
            regenerative hybrid farming concept: Hybrid Farming: The Future of Food
            Production</h4>

          <p>AVN's innovative regenerative hybrid farming concept brings a simple approach to integrating informal and
            rural farming communities. Through a 5-year contract, farmers engage in hybrid food production on 2 or more
            acres of their land.</p>

          <p>
            AVN equips Farmer Members with a standard package featuring a regenerative farm design, a recycled smartphone,
            and an IoT system setup on their land. The first year is free, providing ample time for training and
            preparation in hybrid farming. Between Year 1 and Year 3, Farmer Members receive $2000 worth of inputs.
          </p>
          <h4 class="text-2xl text-center font-semibold leading-8 tracking-tight md:max-w-3xl mx-auto text-[#600060]">Key
            Aspects of AVN’s Hybrid Farming </h4>

          <div>
            <div class="col-span-8">
              <div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2">
                <div v-for="(aspect, i) in aspects" :key="i" class=" px-5 py-4  space-y-3 md:mb-3 max-w-sm rounded-md">
                  <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center">
                    <component :is="aspect.icon" class="text-white w-6 h-6" />
                  </div>
                  <!-- <h5 class="text-lg text-gray-800">{{ aspect.title }}</h5> -->
                  <p>{{ aspect.text }}</p>
                </div>
              </div>
            </div>
          </div>
          <p>AVN transcends intersectional barriers, unlocking socio-economic growth opportunities across sub-Saharan
            Africa with a forward-thinking approach.</p>
        </div>
      </div>
    </section>
  </div>
</template>

<style></style>
