<script setup>
import { reactive, ref } from "vue"
import { CpuChipIcon, GlobeEuropeAfricaIcon, LinkIcon, FingerPrintIcon, CubeTransparentIcon, TableCellsIcon, GlobeAltIcon, EyeIcon, BanknotesIcon, UsersIcon, RocketLaunchIcon, CursorArrowRippleIcon, DevicePhoneMobileIcon, PhoneIcon, DocumentCheckIcon, CurrencyDollarIcon, ArrowPathRoundedSquareIcon, LockClosedIcon, ComputerDesktopIcon, ArrowPathIcon, FaceSmileIcon, SunIcon, CurrencyPoundIcon } from '@heroicons/vue/24/solid'


const icons = reactive([
  { icon: GlobeEuropeAfricaIcon, title: 'Geospatial Information Systems (GIS)' },
  { icon: CpuChipIcon, title: 'Internet of Things (IoT)' },
  { icon: LinkIcon, title: 'Blockchain Security' },
  { icon: FingerPrintIcon, title: 'Artificial Intelligence (AI)' },
  { icon: CubeTransparentIcon, title: 'Machine Learning' },
  { icon: TableCellsIcon, title: 'Data Analytics' }
])



const objectives = reactive([
  {
    icon: RocketLaunchIcon, title: 'Our Mission', description: 'To disrupt exploitative food systems that damage biodiversity impacting hundreds of millions of small-scale farmers around the world'
  },
  { icon: CursorArrowRippleIcon, title: 'Our Aim', description: 'To re-imagine the concept of modern farming through AI, locational intelligence and smart organic product development' },
  {
    icon: DocumentCheckIcon, title: 'The Strategy', description: 'To drive a clean and equitable energy transition by recycling materials to create renewable energy sources, and products from plastic and global e-waste'
  },
])


// Start a career in farming
const paragraphs = reactive([
  {
    icon: FaceSmileIcon, title: 'Our Mission', description: "Our new way of doing things gives small-scale farmers, especially female-led households and young people, more power by making them more productive, more resistant to the effects of climate change, and more visible to global markets. With AVN, you'll have the chance to earn a living in your own locality and make a real difference in your community."
  },
  {
    icon: SunIcon, title: 'Our Mission', description: "We believe in the power of nature-based solutions (NBS) and are dedicated to growing them in a way that is good for the environment. By optimising the human- technology interface and using big data, we're able to understand the climate and market analytic"
  },
  {
    icon: BanknotesIcon, title: 'Our Mission', description: "At AVN, we're not just changing the way we grow food—we're revolutionising the way we do business. We offer our farmer members a digital financial identity through a formalisation process based on land use rights and tiered revenue streams.This allows us to work with unbanked communities, helping them earn and build up their financial history and creditworthiness in the digital economy."
  },
  {
    icon: CurrencyPoundIcon, title: 'Our Mission', description: "With our hybrid farming system, we estimate that our farmer members will earn an average of £3735 per grow cycle—that's two cycles of increased yields, reduced waste, and improved soil health. Our system is designed to maximise productivity and profitability for our farmer members while promoting sustainable agriculture practises."
  },
])
// const 
</script>

<template>
  <div>
    <!-- HERO -->
    <div id="home" class="relative flex items-center justify-center h-screen mb-0 overflow-hidden">
      <div class="relative z-0 w-full bg-green-900 bg-opacity-40">
        <div
          class="flex flex-col px-5 items-center justify-center h-screen w-full font-bold max-w-4xl mx-auto text-center space-y-5 text-white">
          <h2 class="text-4xl md:text-5xl">
            Harnessing the Power of Digitization through Regenerative Agriculture and Circular Value-Chains
            <!-- <span class="">Re-designing</span> Existing <span class="">Food Systems</span>
                                                                                                                                    through <span class="">Circular Economics</span> & <span class="">Social
                                                                                                                                      Innovation</span> -->
          </h2>
          <!-- Harnessing the Power of Digitization through Regenerative Agriculture and Circular Value-Chains -->
          <h3 class="font-medium text-2xl md:text-3xl">Environment - Social - Governance</h3>
          <div class="flex pt-5">
            <!-- <button class="px-16 py-4 text-sm uppercase rounded-full bg-[#600060] text-white">Learn More</button> -->
            <RouterLink to="#about">
              <button class="px-16 py-4 text-sm uppercase rounded-full text-[#600060] bg-white">
                Learn More
              </button>
            </RouterLink>
          </div>
        </div>
      </div>
      <video autoplay loop muted class="absolute -z-10 w-auto min-w-full min-h-full max-w-none">
        <source src="@/assets/videos/bg_video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <!-- List SERVICES -->
    <div id="service-list" class="w-full h-auto px-10 lg:px-0 py-10 lg:pt-0 lg:pb-10 bg-purple-50"> <!--[#fff5ff] -->
      <div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 space-y-5 lg:space-y-0">
        <div v-for="(item, index) in icons" :key="index" class="flex flex-col">
          <div class="flex flex-col space-y-5 md:mb-20 lg:mb-16">
            <div
              class="rounded-full bg-[#600060] w-24 h-24 lg:w-28 lg:h-28 shadow-sm flex justify-center items-center mt-0 lg:-mt-16 z-0 mx-auto hover:animate-pulse">
              <component :is="item.icon" class="w-12 h-12 text-white" />
            </div>
            <h4 class="text-[15px] text-center uppercase text-gray-900">{{ item.title }}</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- INTRODUCTION -->
    <div id="introduction" class="relative py-20 px-10 bg-[url('@/assets/images/bg-pattern.png')] bg-fixed">
      <div class="absolute inset-0 bg-white bg-opacity-95" />
      <div class="relative mx-auto max-w-6xl">
        <h3 class="text-center font-extrabold mb-10">Brief introduction to AVN</h3>
        <div class=" max-w-5xl mx-auto">
          <div class="space-y-5 max-w-4xl mx-auto">
            <p>Welcome to the Agriculture Value-Chain Network (AVN), the tech platform that's changing the game for
              regenerative agriculture and the circular economy. We're on a mission to empower small farmers by giving
              them the tools and resources they need to thrive in an ever-changing world.
            </p>
            <p>
              At AVN, we believe that farmers are the heart of our business. That's why we've created a farmer-centric
              model that puts them at the centre of our operations. We work with smallholder farmers to help them be more
              productive, profitable, and marketable by providing them with the inputs, training, and market access they
              need to succeed.
            </p>
            <p>We are the connective thread:</p>
            <div class="px-5 py-4 flex items-center justify-center gap-5 space-y-3 md:mb-3">
              <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center flex-shrink-0 text-white">
                1
              </div>
              <!-- <h5 class="text-lg text-gray-800">{{ value.title }}</h5> -->
              <p>AVN combines inclusive finance, Blockchain, and social innovation to develop sustainable hybrid
                ecosystems. We organize and coordinate small-holder farmers, helping them reconnect with nature and
                linking them to pre-identified markets.</p>
            </div>
            <div class="px-5 py-4 flex items-center justify-center gap-5 space-y-3 md:mb-3">
            <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center flex-shrink-0 text-white">
              2
              </div>
              <!-- <h5 class="text-lg text-gray-800">{{ value.title }}</h5> -->
              <p>AVN utilizes AI and machine learning to scale Nature-based Solutions, minimize waste, and optimize the
                human-technology interface. By harnessing big data with climate and market analytics, we gain insights on
                what, where, how, and when to grow food effectively.</p>
            </div>
            <div class="px-5 py-4 flex items-center justify-center gap-5 space-y-3 md:mb-3">
              <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center flex-shrink-0 text-white">
                3
              </div>
              <!-- <h5 class="text-lg text-gray-800">{{ value.title }}</h5> -->
            <p>We provide our Farmer Members with a digital financial identity by formalising land use rights and
              establishing tiered revenue streams. We collaborate with unbanked communities, empowering them to earn
              income while building their financial history and creditworthiness in the digital economy.</p>
            </div>

            <div class="flex w-full items-center justify-center py-10">
            <RouterLink to="/sign-up">
              <button
                class="px-8 py-5 text-sm uppercase rounded-full text-white bg-[#600060] transition duration-700 ease-in-out hover:shadow-lg hover:scale-105">
                Sign Up to Learn More
              </button>
            </RouterLink>
          </div>

          <div>
            <div class="relative mx-auto max-w-6xl space-y-5">
              <!-- <h2 class="text-lg font-semibold leading-8 tracking-tight text-[#600060] text-center">What We Offer</h2> -->
              <h3 class="text-center font-extrabold mb-10">Start a Career in the Future of Food with AVN</h3>
              <p>Our hybrid farming solution is just one way we're coming up with new ways to make agriculture more
                sustainable and effective. By combining traditional farming methods with cutting-edge technology, we can
                create a value chain to produce organic food that can be tracked and checked. This means that our
                farmers can produce high-quality, organic food that's better for the environment and for the people who
                eat it.</p>

              <p>But we don't stop there. We're also committed to creating a circular economic model that promotes
                sustainable agriculture practises by reducing waste and minimising carbon emissions. By working with our
                farmer members to make the most of their resources, we're able to create a more sustainable and
                equitable agricultural sector that benefits everyone.</p>

            </div>
          </div>
          <!-- <div>
                                                                                                                    <img src="@/assets/images/app_img.png" alt="" class="object-contain w-full mx-auto h-[500px]">
                                                                                                                  </div> -->
        </div>
        <!-- </div> -->
        </div>
      </div>
    </div>


    <!-- ABOUT US -->

    <!-- SOLUTION -->
    <!-- <div id="solution" class="relative py-20 px-10 bg-[url('@/assets/images/bg-pattern.png')] bg-fixed">
          <div class="absolute inset-0 bg-white bg-opacity-95" />
      <div class="relative mx-auto max-w-6xl">
         <h2 class="text-lg font-semibold leading-8 tracking-tight text-[#600060] text-center">What We Offer</h2> -->
  <!-- <h3 class="text-center font-extrabold mb-10">A Nature-based Solution</h3> -->
  <!-- <div class="mx-auto flex max-w-6xl flex-col items-start gap-10 px-6 md:flex-row lg:px-8 z-10"> -->
  <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-5xl mx-auto">
              <div class="space-y-5 max-w-4xl mx-auto">
            <p>AVN is a circular economic platform designed for the future of food production, making it resilient and
              regenerative
              from the bottom up. AVN integrates inclusive finance, Web 3.0 and social innovation to create ethical,
              sustainable
              ecosystems. We organise and co-ordinate smallholder farmers, re-establishing their relationship with
              Nature
              and
              connecting them with pre-identified markets.</p>
            <p>Our system enables real-time responsive digital governance incorporating hybrid designs unique to the
                  farmers’
                  environment and biodiversity. AVN leverages AI and machine learning to scale Nature-based Solutions
            (NBS)
            while reducing
            waste and optimizing the human-technology interface. Our ability to use Big Data using climate and
            market
                  analytics
                  allows us to understand what, where,how and when to grow food.</p>
                <p>In the Global South we offer our Farmer Members a digital financial identity through a formalisation
                  process
              based on
              land use rights and tiered revenue streams. AVN empowers small-scale farmers, especially female-led
              households
              and young
              people making them more productive, climate resilient and visible to global markets.</p>
          </div>
          <div>
            <img src="@/assets/images/app_img.png" alt="" class="object-contain w-full mx-auto h-[500px]">
          </div>
        </div> -->
  <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->

  <!-- Why AVN -->



    <!-- Background -->
  <!-- <div id="background"
      class="relative py-20 min-h-screen px-5 md:px-0 bg-[url('@/assets/images/bg-pattern.png')] bg-fixed">
      <div class="absolute inset-0 bg-white bg-opacity-90" />
      <div class="mx-auto flex max-w-6xl flex-col items-start gap-10 px-6 md:flex-row lg:px-8">
        <div class="w-full md:sticky md:top-10 md:w-[28rem] z-30 md:z-0">
           <h2 class="text-lg font-semibold leading-8 tracking-tight text-[#600060]">Who We Are</h2> -->
  <!-- <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Background
          </p>
          <img src="@/assets/images/grapes_harvesting.png" alt=""
            class="mt-6 shadow-lg rounded-xl object-cover h-[450px]">
        </div>
        <div class="mt-5 w-full min-w-0 flex-1 md:mt-0">
              <dl class="grid grid-cols-1 gap-y-10 gap-x-8 md:max-w-xl lg:max-w-none lg:gap-y-16">
                <div class="rounded-lg bg-[#ffe6ff] p-10 sticky top-10">
              <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-[#600060]">
                 Heroicon name: outline/cloud-arrow-up -->
  <!-- <GlobeAltIcon class="h-6 w-6 text-white" /> -->
    <!-- <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              <path stroke-linecap="round" stroke-linejoin="round"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </svg> -->
  <!-- </div> -->

  <!-- <dt class="mt-4 text-lg font-semibold leading-7 text-gray-900">Push to deploy</dt> -->
  <!-- <dd class="mt-2 text-base leading-7 text-gray-600">In 2022 the world saw unprecedented levels of food
                insecurity stemming from various critical factors supercharged by the
                Covid-19 pandemic and the war in Ukraine. Over 800 million people are suffering from severe food
                insecurity due to
                climate change and civil unrest. Most Global South economies were fragile prior to the pandemic and
                have
                since been
                affected by significant supply chain disruptions. Years of bad harvests have been exacerbated by
                extreme
                    weather events
                    and the global economic downturn.</dd>
            </div> -->

  <!-- <div class="rounded-lg bg-[#ffe6ff] p-10 sticky top-10">
                  <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-[#600060]">
                    <GlobeAltIcon class="h-6 w-6 text-white" />
              </div> -->

  <!-- <dt class="mt-4 text-lg font-semibold leading-7 text-gray-900">Push to deploy</dt> -->
  <!-- <dd class="mt-2 text-base leading-7 text-gray-600">
                As a continent, Africa imports an average of 47% of its grain from Ukraine and Russia each year. Since
                the
                war, an
                estimated 25 million metric tonnes of grain was prevented from entering the supply chain. Most
                countries
                in the Global
                South do not have welfare safety nets to provide social protection. Tunisia is an example of how
                quickly
                food insecurity
                can lead to political and civil unrest, in this case bread prices.
              </dd>
            </div> -->

  <!-- <div class="rounded-lg bg-[#ffe6ff] p-10 sticky top-10">
              <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-[#600060]">
                <GlobeAltIcon class="h-6 w-6 text-white" />
              </div> -->
    <!-- <dt class="mt-4 text-lg font-semibold leading-7 text-gray-900">SSL certificates</dt> -->
    <!-- <dd class="mt-2 text-base leading-7 text-gray-600">
                Kenya is offering synthetic fertilisers as an incentive for people to farm without much success. This
                is
                due to the high
                costoffood production and the degradation of land from conventional farming methods. The Netherlands
                is
                trying to reduce
                its nitrogen pollution due to the overuse of fertilisers through the compulsory purchase of 3000
                farms.
                Pressure on
                dwindling natural resources suchaswater and grazing lands has led to violent conflict, especially
                between
                herder and
                farmer communities including in west and centralAfrica.
              </dd>
            </div> -->

  <!-- <div class="rounded-lg bg-[#ffe6ff] p-10 sticky top-10">
              <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-[#600060]">
                <GlobeAltIcon class="h-6 w-6 text-white" />
              </div> -->
  <!-- <dt class="mt-4 text-lg font-semibold leading-7 text-gray-900">Simple queues</dt> -->
    <!-- <dd class="mt-2 text-base leading-7 text-gray-600">
                    Over 15 years of witnessing the negative impacts of conventional methods, I decided to invest in
                    regenerative farming
                    and technology. This was in part due to Climate Change makingdrought and famine almost an annual
                    occurrence in eastern
                    Africa. AVN is the first platform to incorporate circular economics, technology and data from the
                    ground
              up. We have
              created an ecosystem based on the principles of Environment, Social and Governance (ESG) that allows
              us
              to
              build
              sustainable and profitable relationships between the farmer and the land. Data allows us to deliver
              Nature-based
              Solutions creating a blueprint to re-engineer food production for the 21stcentury.
            </dd>
          </div>

          <div class="rounded-lg bg-[#ffe6ff] p-10 sticky top-10">
            <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-[#600060]">
              <GlobeAltIcon class="h-6 w-6 text-white" />
            </div> -->
  <!-- <dt class="mt-4 text-lg font-semibold leading-7 text-gray-900">Advanced security</dt> -->
  <!-- <dd class="mt-2 text-base leading-7 text-gray-600">
              A United Nations Food and Agriculture Organization (FAO) report* estimated that the world food import
              bill
              will riseto
              $1.94 trillion in 2022, higher than previously expected. This marks a record and a 10% increase over
              the
              previous one in
              2021, meaning the costofliving in the Global South is set to rise again. Higher world food prices are
              the
                    primary cause
                    of the increase in the globalfood import bill for which high-income countries principally account.
                    Although high-income
                    countries are footing most of the global food import bill, increased prices affect economically
                    vulnerable
                countries
                more acutely.*OECD-FAO Agricultural Outlook 2021–2030
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div> -->





  <!-- MOTTO -->
  <!-- <div class="relative py-20 w-full min-h-screen px-5 md:px-0 bg-[url('@/assets/images/aerial_farm.jpg')] bg-fixed">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              <div class="absolute inset-0 bg-[#600060] bg-opacity-50">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="mx-auto max-w-6xl text-white z-10 py-20 space-y-5">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      <h3 class="text-center font-extrabold">A Nature-based Solution</h3>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      <p>AVN is a circular economic platform designed for the future of food production, making it resilient and
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        regenerative
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        from the bottom up. AVN integrates inclusive finance, Web 3.0 and social innovation to create ethical,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    sustainable
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ecosystems. We organise and co-ordinate smallholder farmers, re-establishing their relationship with Nature
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      and
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              connecting them with pre-identified markets.</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      <p>Our system enables real-time responsive digital governance incorporating hybrid designs unique to the
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        farmers’
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        environment and biodiversity. AVN leverages AI and machine learning to scale Nature-based Solutions (NBS)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    while reducing
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    waste and optimizing the human-technology interface. Our ability to use Big Data using climate and market
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    analytics
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    allows us to understand what, where,how and when to grow food.</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <p>In the Global South we offer our Farmer Members a digital financial identity through a formalisation process
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    based on
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    land use rights and tiered revenue streams. AVN empowers small-scale farmers, especially female-led households
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    and young
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    people making them more productive, climate resilient and visible to global markets.</p>
                                                                                                                                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                              </div> -->



  <!-- MOTIVATION -->
  <!-- <div id="" class="px-10 py-20 bg-purple-50">
      <h2 class="text-lg font-semibold leading-8 tracking-tight text-[#600060] text-center">What Drives Us?</h2>
      <h3 class="text-center font-extrabold mb-10">Passion</h3>
      <div class="mx-auto max-w-5xl grid grid-cols-1 md:grid-cols-2 gap-12">
            <div class="">
          <img src="@/assets/images/green_hse_harvest.png" alt="" class="object-cover h-[450px] md:h-[680px] rounded-xl">
        </div>
        <div class="">
          <div v-for="(objective, j) in objectives" :key="j" class="px-10 py-4 mb-10 space-y-3 md:mb-3">
            <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center">
              <component :is="objective.icon" class="text-white w-6 h-6" />
                </div>
          <h5 class="text-xl text-gray-800">{{ objective.title }}</h5>
          <p>{{ objective.description }}</p>
              </div>
            </div>
          </div>
        </div> -->


    <!-- START a CAREER in Farming -->
    <!-- <div id="solution" class="relative py-20 px-10 bg-[url('@/assets/images/bg-pattern.png')] bg-fixed">
          <div class="absolute inset-0 bg-white bg-opacity-95" />
          <div class="relative mx-auto max-w-6xl"> -->
    <!-- <h2 class="text-lg font-semibold leading-8 tracking-tight text-[#600060] text-center">Does farming tickle your fancy?
                                                                                                                                                                                                                              </h2>-->
    <!-- <h3 class="text-center font-extrabold mb-10">Would you like to start a career in Hybrid Farming?</h3> -->
    <!-- <div class="mx-auto flex max-w-6xl flex-col items-start gap-10 px-6 md:flex-row lg:px-8 z-10"> -->
    <!-- <div class=" max-w-5xl mx-auto">
              <div class="hidden max-w-4xl mx-auto px-10 md:flex justify-between my-10">
                <img src="@/assets/images/aerial_farm.jpg" alt="..."
                  class="shadow rounded-full w-[200px] h-[200px] object-cover align-middle border-[#ac84a8] border-[6px]" />
                <img src="@/assets/images/carrots.png" alt="..."
                  class="shadow rounded-full w-[200px] h-[200px] object-cover align-middle border-[#ac84a8] border-[6px]" />
                <img src="@/assets/images/coffee_harvesting.png" alt="..."
                  class="shadow rounded-full w-[200px] h-[200px] object-cover align-middle border-[#ac84a8] border-[6px]" />
              </div>
              <div class=" max-w-4xl mx-auto">
                <p>Get ready for the future of food production with AVN’s hybrid farming system! We're breaking down
                  barriers
                  and creating opportunities for anyone looking to start a career in agriculture.
                </p>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-5">
                  <div v-for="(item, i) in paragraphs" :key="i" class=" px-5 py-4  space-y-3 md:mb-3">
                    <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center">
                      <component :is="item.icon" class="text-white w-6 h-6" />
                    </div>
                     <h5 class="text-lg text-gray-800">{{ item.title }}</h5> -->
    <!-- <p class="text-justify leading-relaxed">{{ item.description }}</p>
                  </div>
                </div>
                <p>
                  Join us today and become a part of the movement to make agriculture more resilient and self-sustaining.
                </p>
              </div> -->
    <!-- <div>
                                                                                                                                                                                                                                                                                                <img src="@/assets/images/app_img.png" alt="" class="object-contain w-full mx-auto h-[500px]">
                                                                                                                                                                                                                                                                                            </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
  <!-- </div> -->
  <!-- </div> -->
</template>
