<script setup>
import { reactive } from 'vue'
import { FaceSmileIcon, SunIcon, BanknotesIcon, CurrencyPoundIcon, BuildingLibraryIcon, CurrencyEuroIcon, BuildingStorefrontIcon } from '@heroicons/vue/24/solid';

const paragraphs = reactive([
  {
    icon: BuildingLibraryIcon, title: 'Financial Identity Gap', description: " 90% of small-holder farmers cannot access traditional loans"
  },
  {
    icon: SunIcon, title: 'Climate Change Awareness', description: "Farmers struggle with the \"waiting for rains syndrome\" due to limited information"
  },
  {
    icon: CurrencyEuroIcon, title: 'Unsustainable Farming', description: "Costly and damaging methods impact biodiversity, producers, and consumers."
  },
  {
    icon: BuildingStorefrontIcon, title: 'Limited Market Access', description: "Small-holder farmers have minimal visibility in the supply chain and struggle to access markets"
  },
])
// const
</script>

<template>
  <div class="relative py-5 px-10 bg-[url('@/assets/images/bg-pattern.png')] bg-fixed">
    <div class="absolute inset-0 bg-white bg-opacity-95" />
    <div class="relative min-h-screen max-w-5xl mx-auto space-y-8 py-10">
      <div class="space-y-4">
        <!-- <h4 class="text-lg font-semibold leading-8 tracking-tight text-[#600060] text-center">You may ask,</h4> -->
        <h3 class="text-center">Our Offerings</h3>
        <h5 class="text-center text-[#600060]">The 5-year contract with farmer</h5>
        <div class="">
          <p>
            AVN equips Farmer Members with a standard package featuring a regenerative farm design, a recycled smartphone,
            and
            an IoT system setup on their land. The first year is free, providing ample time for training and preparation
            in
            hybrid farming. Between Year 1 and Year 3, Farmer Members receive $2000 worth of inputs.
          </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
          <div>
            <img src="@/assets/images/app_img.png" alt="" class="object-contain w-full mx-auto h-[500px]">
          </div>
          <div class="py-10">
            <ul class="list-disc list-outside space-y-2">
              <li>Digital financial identity </li>
              <li>Hybrid farm design & training </li>
              <li>Data access & hosting </li>
              <li>Recycled smart phone </li>
              <li>IoT system setup on farm </li>
              <li>Organic fertilizer system </li>
              <li>Tree saplings </li>
              <li>Seeds</li>
              <li>Greenhouses & drip kits </li>
              <li>Micro-insurance</li>
              <li>Access to markets </li>
              <li>Support services </li>
            </ul>
          </div>
        </div>
        <div class="space-y-5">
          <p>
            Each Farmer Member using AVN is projected to generate $3,735 per growing cycle. Our cutting-edge Hybrid
            Farming system is designed for a minimum of two cycles per year, increasing yields, minimising waste, and
            enhancing soil health.
          </p>

          <p class="text-[#600060]">
            $5 monthly membership fee
          </p>
          <p class="text-[#600060]">
            15% commission on crop sales and input costs
          </p>


          <h3 class="text-center">The Problem</h3>
          <p>
            Addressing food security in the face of climate challenges and growing populations is essential. In 2023, food
            systems are under threat due to conflicts and natural disasters. Over 63% of Africa's population are
            small-holder farmers with resources but no financial identity or access to fair markets. Current systems
            exploit
            farmers and lead to a breakdown in rural food production, mass migration, and heightened tensions.
          </p>

          <h5 class="text-lg">Small-holder Farmer Crisis:</h5>

          <div class="grid grid-cols-1 md:grid-cols-2 my-5">
            <div v-for="(item, i) in paragraphs" :key="i" class=" px-5 py-4  space-y-3 md:mb-3  mx-auto">
              <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center">
                <component :is="item.icon" class="text-white w-6 h-6" />
              </div>
              <h5 class="text-lg text-[#600060]">{{ item.title }}</h5>
              <p class="text-justify leading-relaxed">{{ item.description }}</p>
            </div>
          </div>

          <div class="max-w-lg mx-auto py-10">
            <h5 class="text-lg pb-5">
              Global South Crisis:
            </h5>
            <div class="px-5 py-4 flex items-center  gap-5 space-y-3">
              <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center flex-shrink-0 text-white">
                1
              </div>
              <!-- <h5 class="text-lg text-gray-800">{{ value.title }}</h5> -->
              <p>
                Exceptional shortfall in aggregate food production and supplies
              </p>
            </div>
            <div class="px-5 py-4 flex items-center  gap-5 space-y-3">
              <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center flex-shrink-0 text-white">
                2
              </div>
              <!-- <h5 class="text-lg text-gray-800">{{ value.title }}</h5> -->
              <p>
                Widespread lack of access to technology and finance
              </p>
            </div>
            <div class="px-5 py-4 flex items-center  gap-5 space-y-3">
              <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center flex-shrink-0 text-white">
                3
              </div>
              <!-- <h5 class="text-lg text-gray-800">{{ value.title }}</h5> -->
              <p>
                Severe localised food insecurity
              </p>
            </div>
            <div class="px-5 py-4 flex items-center  gap-5 space-y-3">
              <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center flex-shrink-0 text-white">
                4
              </div>
              <!-- <h5 class="text-lg text-gray-800">{{ value.title }}</h5> -->
              <p>
                Increased economic and political instability
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>


<style scoped></style>