<script setup>
import BaseInput from "@/components/BaseInput.vue";


const handleSubmit = () => {
  return
}
</script>

<template>
  <div class=" min-h-screen bg-purple-50">
    <div class="max-w-5xl mx-auto py-10">
      <h4 class="text-center py-5">Sign Up to AVN</h4>
      <div class="max-w-2xl mx-auto">
        <form action="" method="post" class="bg-white px-10 py-10 rounded shadow space-y-5">
          <fieldset class="border rounded-md py-5 px-10 space-y-5">
            <legend class="px-1 font-semibold text-lg">Personal Information</legend>
          <BaseInput :title="`First Name`" />
          <BaseInput :title="`Last Name`" />
          <BaseInput :title="`Date of Birth`" :type="`date`" />
          <BaseInput :title="`National ID Number`" />
          <BaseInput :title="`Email Address`" />
          <BaseInput :title="`Phone Number`" />
          </fieldset>

        <!-- <fieldset class="border rounded-md py-5 px-10 space-y-5">
            <legend class="px-1 font-semibold text-lg">Farm Information</legend>
                  <BaseInput :title="`Farm Name`" />
                  <BaseInput :title="`Farm Size`" :type="`number`" />
            <BaseInput :title="`GPS Location Longitude`" />
            <BaseInput :title="`GPS Location Latitude`" />
                  </fieldset> -->

          <!-- <fieldset class="border rounded-md py-5 px-10 space-y-5">
            <legend class="px-1 font-semibold text-lg">Farming Experience</legend>
            <BaseInput :title="`Years of Farming Experience`" :type="`number`" />
                  <BaseInput :title="`Primary Crops Grown`" :type="`number`" />
                  <BaseInput :title="`GPS Location Longitude`" />
                    <BaseInput :title="`Primary Crops Grown`" />
                        <BaseInput :title="`Previous Farming Methods Used`" />
              </fieldset> -->

        <!-- <fieldset class="border rounded-md py-5 px-10 space-y-5">
                  <legend class="px-1 font-semibold text-lg">Account Information</legend>
                  <BaseInput :title="`Username`" />
            <BaseInput :title="`Password`" :type="`password`" />
            <BaseInput :title="`Confirm Password`" :type="`password`" />
          </fieldset> -->

        <!-- <fieldset class="border rounded-md py-5 px-10 space-y-5">
            <legend class="px-1 font-semibold text-lg">Payment Details</legend>
            <BaseInput :title="`Sign Up Fee $1`" :placeholder="`$1`" :disabled="`true`" />

            <div class="space-y-1 flex flex-col">
                      <p class="text-xs font-semibold">Payment Method</p>
                          <select name="" id="" class="w-full border rounded-md px-4 py-2">
                            <option value="">Select your Payment Method</option>
                            <option value="Credit Card">Credit Card</option>
                    <option value="Debit Card">Debit Card</option>
                      <option value="Mobile Money">Mobile Money</option>
                    </select>
                  </div>

                        <BaseInput :title="`Payment Information`" /> -->
          <!-- <BaseInput :title="`Confirm Password`" :type="`password`" /> -->
          <!-- </fieldset> -->

          <!-- <fieldset class="border rounded-md py-5 px-10 space-y-5">
                              <legend class="px-1 font-semibold text-lg">Terms and Agreement</legend>
                              <BaseInput :title="`Terms & Conditions`" :type="'checkbox'" />
                              <BaseInput :title="`Subscribe to Our Newsletter`" :type="`checkbox`" />
                            </fieldset> -->

          <button type="" @click.prevent="handleSubmit"
            class="bg-[#600060] py-3 px-4 w-full text-white rounded-md hover:scale-105 hover:shadow-md transition duration-700 ease-in-out">Submit
            Application</button>
        </form>
      </div>
    </div>
  </div>
</template>


<style scoped></style>