<script setup>
import { reactive } from 'vue'
import { CpuChipIcon, GlobeEuropeAfricaIcon, LinkIcon, FingerPrintIcon, CubeTransparentIcon, TableCellsIcon, GlobeAltIcon, EyeIcon, BanknotesIcon, UsersIcon, RocketLaunchIcon, CursorArrowRippleIcon, DevicePhoneMobileIcon, PhoneIcon, DocumentCheckIcon, CurrencyDollarIcon, ArrowPathRoundedSquareIcon, LockClosedIcon, ComputerDesktopIcon, ArrowPathIcon, FaceSmileIcon, SunIcon, CurrencyPoundIcon } from '@heroicons/vue/24/solid'

const values = reactive([
  {
    icon: CurrencyDollarIcon, color: '#11fcf7', title: 'Affordability & Inclusion', text: 'AVN makes food production affordable by providing inputs to Farmer Members with greater access to formal financial services such micro- insurance'
  },
  {
    icon: ArrowPathRoundedSquareIcon, color: '#004346', title: 'Availability', text: 'AVN trains Farmer Members to connect more productively with their land using Nature- based Solutions, helping them earn and build up their financial history and credit worthiness.'
  },
  {
    icon: LockClosedIcon, color: '#912c00', title: 'Quality & Safety', text: 'From seed to market, AVN uses real-time data analytics to control, correct or isolate every step of production. This creates customised partnerships between Farmer Members and suppliers'
  },
  {
    icon: ComputerDesktopIcon, color: '#912c00', title: 'Digital Governance', text: 'AVN coordinates what, where, how and when to grow crops using market & climate data to minimize risk while working with Farmer Members in real - time'
  },
  {
    icon: ArrowPathIcon, color: '#912c00', title: 'Sustainability & Adaptation', text: 'The ESG impacts are tracked by AVN\'s metrics which include an early warning system based on social, economic, and climate data from around the world'
  }
])

</script>

<template>
  <!-- Why AVN -->
  <div id="why-avn" class="w-full min-h-screen px-10 py-20 bg-purple-50">
    <div class="max-w-5xl mx-auto space-y-8">
      <div>
        <!-- <h4 class="text-lg font-semibold leading-8 tracking-tight text-[#600060] text-center">You may ask,</h4> -->
        <h3 class="text-center">Why A.V.N?</h3>
      </div>
      <p>
        As a circular economic platform, one of our fundamental objectives is to find practical and economic solutions to
        rural food production and organic waste in urban centres and reintroduce organic material to the natural cycle.
      </p>


      <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
        <div class="col-span-8">
          <div class="grid grid-cols-1 md:grid-cols-2">
            <div v-for="(value, i) in values" :key="i" class=" px-5 py-4  space-y-3 md:mb-3">
              <div class="rounded-full w-16 h-16 bg-[#ac84a8] flex items-center justify-center">
                <component :is="value.icon" class="text-white w-6 h-6" />
              </div>
              <h5 class="text-lg text-gray-800">{{ value.title }}</h5>
              <p>{{ value.text }}</p>
            </div>
          </div>
        </div>
        <div class="col-span-4">
          <img src="@/assets/images/drone.png" alt=""
            class="object-cover hidden md:block md:w-[400px] md:h-full object-center mx-auto rounded-2xl shadow-xl">
        </div>
      </div>
    </div>
  </div>
</template>


<style scoped></style>