<script setup>
import { ref } from 'vue'
import VueCookieComply from '@ipaat/vue3-tailwind3-cookie-comply'

const preferences = [
  {
    title: 'Session token (necessary)',
    description: 'This cookie contains a token. With the help of the token, your current session can be continued when using the website. This cookie is valid for 2 hours after creation and is renewed each time you change pages within this website.',
    items: [
      {
        label: '*_session',
        value: 'session',
        isRequired: true,
      },
    ],
  },
  // {
  //   title: 'Remember Token (necessary)',
  //   description: 'This cookie contains a token. With the help of the token, your login session can be resumed even after the 2 hours that the session cookie is valid. This cookie is only set if you have activated the option "Stay logged in" when logging in. This cookie is removed when you log out.',
  //   items: [
  //     {
  //       label: 'remember_web_*',
  //       value: 'remember_web',
  //       isRequired: true,
  //     },
  //   ],
  // },
  {
    title: 'XSRF Token (necessary)',
    description: 'This cookie contains a token. The token prevents a third party from submitting forms on the website on your behalf. This cookie is valid for 2 hours and is renewed at every page change within the website.',
    items: [
      {
        label: 'XSRF-TOKEN',
        value: 'xsrf_token',
        isRequired: true,
      },
    ],
  },
  {
    title: 'Google Analytics (optional)',
    description: 'Google Analytics will keep track of the number of visitors to the website and the pages they visit.',
    items: [
      {
        label: '_ga',
        value: 'ga',
      },
    ],
  },
]

const result = ref('Waiting for user interaction...')

const onDecline = (accepted) => {
  result.value = 'User accepted no cookies. 👎: ' + accepted.join(', ') + ' (required)'
}

const onAccept = (accepted) => {
  result.value = 'User accepted all cookies. 👍: ' + accepted.join(', ')
}

const onSave = (accepted) => {
  result.value = 'User accepted the following cookies 📋: ' + accepted.join(', ')
}
</script>
<template>
  <VueCookieComply :preferences="preferences" bannerMaxWidth="4xl" bannerTitle="Our use of cookies" modalMaxWidth="2xl"
    target="#app" @on-accept-all="onAccept" @on-decline-all="onDecline" @on-save-preferences="onSavePreferences">
  </VueCookieComply>
</template>


<style scoped></style>