<script setup>
import { DevicePhoneMobileIcon, PhoneIcon } from '@heroicons/vue/24/solid';


</script>

<template>
  <div id="" class="w-full h-auto bg-[#763F84] px-5 py-10 text-white">
  <div class="max-w-6xl mx-auto">
    <div class="-mx-4 flex flex-wrap">
      <!-- <div class="w-full px-4 sm:w-2/3 lg:w-4/12">
              <div class="mb-10 w-full flex flex-col space-y-5 items-center h-full">
                <img src="@/assets/images/bg_logo_3.png" alt="logo" class="max-w-[140px]" />
                <div class="text-center">
                  <p class="text-3xl font-bold font-display">ECOEARTH</p>
                  <p class="font-medium font-display uppercase">Consultants</p>
                </div>
              </div>
            </div>
            <div class="w-full px-4 sm:w-1/2 lg:w-4/12">
              <div class="mb-10 w-full">
                <h4 class="text-dark mb-9 text-lg font-display font-semibold">Contact</h4>
                <div class="space-y-3">
                  <div class="flex gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                    </svg>
                    <p class="text-base">+254-729-422-206 <br> +254-725-698-789</p>
                  </div>
                  <div class="flex gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                    </svg>
                    <p class="text-base">info@ecoearthconsultantsltd.com</p>
                  </div>
                  <div class="flex gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    <p class="text-base">Bonamat Plaza <br>
                      Embakasi Utawala Road <br>
                                                                          P. O. BOX 147-00521, <br>
                      Nairobi</p>
                    </div>
                </div>
              </div>
            </div> -->
      <!--<div class="w-full px-4 sm:w-1/2 lg:w-2/12">
              <div class="mb-10 w-full">
                <h4 class="text-dark mb-9 text-lg font-semibold">Company</h4>
                <ul>
                  <li>
                    <a href="javascript:void(0)"
                      class="text-body-color hover:text-primary mb-2 inline-block text-base leading-loose">
                      About TailGrids
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      class="text-body-color hover:text-primary mb-2 inline-block text-base leading-loose">
                      Contact & Support
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      class="text-body-color hover:text-primary mb-2 inline-block text-base leading-loose">
                      Success History
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      class="text-body-color hover:text-primary mb-2 inline-block text-base leading-loose">
                      Setting & Privacy
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="w-full px-4 sm:w-1/2 lg:w-2/12">
              <div class="mb-10 w-full">
                <h4 class="text-dark mb-9 text-lg font-semibold">Quick Links</h4>
                <ul>
                  <li>
                    <a href="javascript:void(0)"
                      class="text-body-color hover:text-primary mb-2 inline-block text-base leading-loose">
                      Premium Support
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      class="text-body-color hover:text-primary mb-2 inline-block text-base leading-loose">
                      Our Services
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      class="text-body-color hover:text-primary mb-2 inline-block text-base leading-loose">
                      Know Our Team
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      class="text-body-color hover:text-primary mb-2 inline-block text-base leading-loose">
                                                                          Download App
                    </a>
                    </li>
                </ul>
              </div>
            </div> -->
      <!-- <div class="w-full px-4 lg:w-1/2 xl:w-8/12">
          <div class="mb-12 max-w-[570px] lg:mb-0">
                                                                <span class="text-primary mb-4 block text-base font-semibold">
                                                                  Contact Us
              </span>
              <h2 class="text-dark mb-6 text-[32px] font-bold uppercase sm:text-[40px] lg:text-[36px] xl:text-[40px]">
              GET IN TOUCH WITH US
            </h2>-->
      <!-- <p>A paragraph can go here if need be</p> -->
      <!--<div class="mb-8 flex w-full max-w-[370px]">
              <div
                class="bg-gray-300 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded bg-opacity-5 sm:h-[70px] sm:max-w-[70px]">
                <svg width="24" height="24" viewBox="0 0 24 24" class="fill-current">
                  <path
                    d="M21.8182 24H16.5584C15.3896 24 14.4156 23.0256 14.4156 21.8563V17.5688C14.4156 17.1401 14.0649 16.7893 13.6364 16.7893H10.4026C9.97403 16.7893 9.62338 17.1401 9.62338 17.5688V21.8173C9.62338 22.9866 8.64935 23.961 7.48052 23.961H2.14286C0.974026 23.961 0 22.9866 0 21.8173V8.21437C0 7.62972 0.311688 7.08404 0.818182 6.77223L11.1039 0.263094C11.6494 -0.0876979 12.3896 -0.0876979 12.9351 0.263094L23.2208 6.77223C23.7273 7.08404 24 7.62972 24 8.21437V21.7783C24 23.0256 23.026 24 21.8182 24ZM10.3636 15.4251H13.5974C14.7662 15.4251 15.7403 16.3995 15.7403 17.5688V21.8173C15.7403 22.246 16.0909 22.5968 16.5195 22.5968H21.8182C22.2468 22.5968 22.5974 22.246 22.5974 21.8173V8.25335C22.5974 8.13642 22.5195 8.01949 22.4416 7.94153L12.1948 1.4324C12.0779 1.35445 11.9221 1.35445 11.8442 1.4324L1.55844 7.94153C1.44156 8.01949 1.4026 8.13642 1.4026 8.25335V21.8563C1.4026 22.285 1.75325 22.6358 2.18182 22.6358H7.48052C7.90909 22.6358 8.25974 22.285 8.25974 21.8563V17.5688C8.22078 16.3995 9.19481 15.4251 10.3636 15.4251Z" />
                </svg>
              </div>
              <div class="w-full">
                <h4 class="text-dark mb-1 text-xl font-bold">Our Location</h4>
                <p class="text-body-color text-base">
                  EcoEarth Consultants Limited <br>
                  Trance Towers <br>
                  Tsavo Road, South B <br>
                  P. O. BOX 147-00521, <br>
                  Nairobi
                </p>
              </div>
            </div>
            <div class="mb-8 flex w-full max-w-[370px]">
              <div
                class="bg-gray-300 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded bg-opacity-5 sm:h-[70px] sm:max-w-[70px]">
                <svg width="24" height="26" viewBox="0 0 24 26" class="fill-current">
                  <path
                    d="M22.6149 15.1386C22.5307 14.1704 21.7308 13.4968 20.7626 13.4968H2.82869C1.86042 13.4968 1.10265 14.2125 0.97636 15.1386L0.092295 23.9793C0.0501967 24.4845 0.21859 25.0317 0.555377 25.4106C0.892163 25.7895 1.39734 26 1.94462 26H21.6887C22.1939 26 22.6991 25.7895 23.078 25.4106C23.4148 25.0317 23.5832 24.5266 23.5411 23.9793L22.6149 15.1386ZM21.9413 24.4424C21.8992 24.4845 21.815 24.5687 21.6466 24.5687H1.94462C1.81833 24.5687 1.69203 24.4845 1.64993 24.4424C1.60783 24.4003 1.52364 24.3161 1.56574 24.1477L2.4498 15.2649C2.4498 15.0544 2.61819 14.9281 2.82869 14.9281H20.8047C21.0152 14.9281 21.1415 15.0544 21.1835 15.2649L22.0676 24.1477C22.0255 24.274 21.9834 24.4003 21.9413 24.4424Z" />
                  <path
                    d="M11.7965 16.7805C10.1547 16.7805 8.84961 18.0855 8.84961 19.7273C8.84961 21.3692 10.1547 22.6742 11.7965 22.6742C13.4383 22.6742 14.7434 21.3692 14.7434 19.7273C14.7434 18.0855 13.4383 16.7805 11.7965 16.7805ZM11.7965 21.2008C10.9966 21.2008 10.3231 20.5272 10.3231 19.7273C10.3231 18.9275 10.9966 18.2539 11.7965 18.2539C12.5964 18.2539 13.2699 18.9275 13.2699 19.7273C13.2699 20.5272 12.5964 21.2008 11.7965 21.2008Z" />
                  <path
                    d="M1.10265 7.85562C1.18684 9.70794 2.82868 10.4657 3.67064 10.4657H6.61752C6.65962 10.4657 6.65962 10.4657 6.65962 10.4657C7.92257 10.3815 9.18552 9.53955 9.18552 7.85562V6.84526C10.5748 6.84526 13.7742 6.84526 15.1635 6.84526V7.85562C15.1635 9.53955 16.4264 10.3815 17.6894 10.4657H17.7315H20.6363C21.4782 10.4657 23.1201 9.70794 23.2043 7.85562C23.2043 7.72932 23.2043 7.26624 23.2043 6.84526C23.2043 6.50847 23.2043 6.21378 23.2043 6.17169C23.2043 6.12959 23.2043 6.08749 23.2043 6.08749C23.078 4.90874 22.657 3.94047 21.9413 3.18271L21.8992 3.14061C20.8468 2.17235 19.5838 1.62507 18.6155 1.28828C15.795 0.193726 12.2587 0.193726 12.0903 0.193726C9.6065 0.235824 8.00677 0.446315 5.60716 1.28828C4.681 1.58297 3.41805 2.13025 2.36559 3.09851L2.3235 3.14061C1.60782 3.89838 1.18684 4.86664 1.06055 6.04539C1.06055 6.08749 1.06055 6.12959 1.06055 6.12959C1.06055 6.21378 1.06055 6.46637 1.06055 6.80316C1.10265 7.18204 1.10265 7.68722 1.10265 7.85562ZM3.37595 4.15097C4.21792 3.3932 5.27038 2.93012 6.15444 2.59333C8.34355 1.79346 9.7749 1.62507 12.1745 1.58297C12.3429 1.58297 15.6266 1.62507 18.1525 2.59333C19.0365 2.93012 20.089 3.3511 20.931 4.15097C21.394 4.65615 21.6887 5.32972 21.7729 6.12959C21.7729 6.25588 21.7729 6.46637 21.7729 6.80316C21.7729 7.22414 21.7729 7.68722 21.7729 7.81352C21.7308 8.78178 20.8047 8.99227 20.6784 8.99227H17.7736C17.3526 8.95017 16.679 8.78178 16.679 7.85562V6.12959C16.679 5.7928 16.4685 5.54021 16.1738 5.41392C15.9213 5.32972 8.55405 5.32972 8.30146 5.41392C8.00677 5.49811 7.79628 5.7928 7.79628 6.12959V7.85562C7.79628 8.78178 7.1227 8.95017 6.70172 8.99227H3.79694C3.67064 8.99227 2.74448 8.78178 2.70238 7.81352C2.70238 7.68722 2.70238 7.22414 2.70238 6.80316C2.70238 6.46637 2.70238 6.29798 2.70238 6.17169C2.61818 5.32972 2.91287 4.65615 3.37595 4.15097Z" />
                </svg>
              </div>
              <div class="w-full">
                <h4 class="text-dark mb-1 text-xl font-bold">Phone Number</h4>
                <p class="text-body-color text-base">(+254)-729-422-206 <br> (+254)-725-698-789</p>
              </div>
            </div>
            <div class="mb-8 flex w-full max-w-[370px]">
              <div
                class="bg-gray-300 text-primary mr-6 flex h-[60px] w-full max-w-[60px] items-center justify-center overflow-hidden rounded bg-opacity-5 sm:h-[70px] sm:max-w-[70px]">
                <svg width="28" height="19" viewBox="0 0 28 19" class="fill-current">
                  <path
                    d="M25.3636 0H2.63636C1.18182 0 0 1.16785 0 2.6052V16.3948C0 17.8322 1.18182 19 2.63636 19H25.3636C26.8182 19 28 17.8322 28 16.3948V2.6052C28 1.16785 26.8182 0 25.3636 0ZM25.3636 1.5721C25.5909 1.5721 25.7727 1.61702 25.9545 1.75177L14.6364 8.53428C14.2273 8.75886 13.7727 8.75886 13.3636 8.53428L2.04545 1.75177C2.22727 1.66194 2.40909 1.5721 2.63636 1.5721H25.3636ZM25.3636 17.383H2.63636C2.09091 17.383 1.59091 16.9338 1.59091 16.3499V3.32388L12.5 9.8818C12.9545 10.1513 13.4545 10.2861 13.9545 10.2861C14.4545 10.2861 14.9545 10.1513 15.4091 9.8818L26.3182 3.32388V16.3499C26.4091 16.9338 25.9091 17.383 25.3636 17.383Z" />
                </svg>
              </div>
              <div class="w-full">
                                                                    <h4 class="text-dark mb-1 text-xl font-bold">Email Address</h4>
                                                                    <p class="text-body-color text-base">info@ecoearth.co.ke</p>
                                                                    </div>
                                                                  </div>
            </div>
          </div> -->
      <div class="w-full px-10 text-center">
          <div class="mb-10 flex flex-col justify-start space-y-5">
            <!-- <img src="@/assets/images/logo.png" alt="logo" class="max-w-[140px]" /> -->
            <!-- <div class="">
                                                                    <p class="text-3xl font-bold font-display">Agriculture Value-Chain Network</p>
                                                                    <p class="font-medium font-display uppercase">A.V.N</p>
                                                                  </div> -->
          </div>
          <div class=" w-full">
            <h4 class="text-dark mb-5 text-xl font-bold">Follow Us On</h4>
            <div class="mb-6 flex justify-center items-center">
              <a href="javascript:void(0)"
                class="text-dark hover:bg-primary hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] hover:text-white sm:mr-4 lg:mr-3 xl:mr-4">
                <svg width="8" height="16" viewBox="0 0 8 16" class="fill-current">
                  <path
                    d="M7.43902 6.4H6.19918H5.75639V5.88387V4.28387V3.76774H6.19918H7.12906C7.3726 3.76774 7.57186 3.56129 7.57186 3.25161V0.516129C7.57186 0.232258 7.39474 0 7.12906 0H5.51285C3.76379 0 2.54609 1.44516 2.54609 3.5871V5.83226V6.34839H2.10329H0.597778C0.287819 6.34839 0 6.63226 0 7.04516V8.90323C0 9.26452 0.243539 9.6 0.597778 9.6H2.05902H2.50181V10.1161V15.3032C2.50181 15.6645 2.74535 16 3.09959 16H5.18075C5.31359 16 5.42429 15.9226 5.51285 15.8194C5.60141 15.7161 5.66783 15.5355 5.66783 15.3806V10.1419V9.62581H6.13276H7.12906C7.41688 9.62581 7.63828 9.41935 7.68256 9.10968V9.08387V9.05806L7.99252 7.27742C8.01466 7.09677 7.99252 6.89032 7.85968 6.68387C7.8154 6.55484 7.61614 6.42581 7.43902 6.4Z" />
                </svg>
              </a>
              <a href="javascript:void(0)"
                class="text-dark hover:bg-primary hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] hover:text-white sm:mr-4 lg:mr-3 xl:mr-4">
                <svg width="16" height="12" viewBox="0 0 16 12" class="fill-current">
                  <path
                    d="M14.2194 2.06654L15.2 0.939335C15.4839 0.634051 15.5613 0.399217 15.5871 0.2818C14.8129 0.704501 14.0903 0.845401 13.6258 0.845401H13.4452L13.3419 0.751468C12.7226 0.258317 11.9484 0 11.1226 0C9.31613 0 7.89677 1.36204 7.89677 2.93542C7.89677 3.02935 7.89677 3.17025 7.92258 3.26419L8 3.73386L7.45806 3.71037C4.15484 3.61644 1.44516 1.03327 1.00645 0.587084C0.283871 1.76125 0.696774 2.88845 1.13548 3.59296L2.0129 4.90802L0.619355 4.20352C0.645161 5.18982 1.05806 5.96477 1.85806 6.52838L2.55484 6.99804L1.85806 7.25636C2.29677 8.45401 3.27742 8.94716 4 9.13503L4.95484 9.36986L4.05161 9.93346C2.60645 10.8728 0.8 10.8024 0 10.7319C1.62581 11.7652 3.56129 12 4.90323 12C5.90968 12 6.65806 11.9061 6.83871 11.8356C14.0645 10.2857 14.4 4.41487 14.4 3.2407V3.07632L14.5548 2.98239C15.4323 2.23092 15.7935 1.8317 16 1.59687C15.9226 1.62035 15.8194 1.66732 15.7161 1.6908L14.2194 2.06654Z" />
                </svg>
              </a>
              <a href="javascript:void(0)"
                class="text-dark hover:bg-primary hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] hover:text-white sm:mr-4 lg:mr-3 xl:mr-4">
                <svg width="16" height="12" viewBox="0 0 16 12" class="fill-current">
                  <path
                    d="M15.6645 1.88018C15.4839 1.13364 14.9419 0.552995 14.2452 0.359447C13.0065 6.59222e-08 8 0 8 0C8 0 2.99355 6.59222e-08 1.75484 0.359447C1.05806 0.552995 0.516129 1.13364 0.335484 1.88018C0 3.23502 0 6 0 6C0 6 0 8.79263 0.335484 10.1198C0.516129 10.8664 1.05806 11.447 1.75484 11.6406C2.99355 12 8 12 8 12C8 12 13.0065 12 14.2452 11.6406C14.9419 11.447 15.4839 10.8664 15.6645 10.1198C16 8.79263 16 6 16 6C16 6 16 3.23502 15.6645 1.88018ZM6.4 8.57143V3.42857L10.5548 6L6.4 8.57143Z" />
                </svg>
              </a>
              <a href="javascript:void(0)"
                class="text-dark hover:bg-primary hover:border-primary mr-3 flex h-8 w-8 items-center justify-center rounded-full border border-[#E5E5E5] hover:text-white sm:mr-4 lg:mr-3 xl:mr-4">
                <svg width="14" height="14" viewBox="0 0 14 14" class="fill-current">
                  <path
                    d="M13.0214 0H1.02084C0.453707 0 0 0.451613 0 1.01613V12.9839C0 13.5258 0.453707 14 1.02084 14H12.976C13.5432 14 13.9969 13.5484 13.9969 12.9839V0.993548C14.0422 0.451613 13.5885 0 13.0214 0ZM4.15142 11.9H2.08705V5.23871H4.15142V11.9ZM3.10789 4.3129C2.42733 4.3129 1.90557 3.77097 1.90557 3.11613C1.90557 2.46129 2.45002 1.91935 3.10789 1.91935C3.76577 1.91935 4.31022 2.46129 4.31022 3.11613C4.31022 3.77097 3.81114 4.3129 3.10789 4.3129ZM11.9779 11.9H9.9135V8.67097C9.9135 7.90323 9.89082 6.8871 8.82461 6.8871C7.73571 6.8871 7.57691 7.74516 7.57691 8.60323V11.9H5.51254V5.23871H7.53154V6.16452H7.55423C7.84914 5.62258 8.50701 5.08065 9.52785 5.08065C11.6376 5.08065 12.0232 6.43548 12.0232 8.2871V11.9H11.9779Z" />
                </svg>
              </a>
            </div>
            <div class="font-bold mb-5">
            <h4 class="text-dark mb-5 text-xl font-bold">Reach Us On</h4>
            <div class="flex mx-auto items-center gap-3 justify-center mb-5">
                <PhoneIcon class="h-5 w-5 text-white" /> <span>+44-7949-500-433</span>
                <DevicePhoneMobileIcon class="h-5 w-5 text-white" /> <span>+254-705-441-449</span>
              </div>
              <!-- <div class="flex mx-auto items-center gap-5 justify-center">
                                          <DevicePhoneMobileIcon class="h-6 w-6 text-white" /> <span>+254-777-123-456</span>
                                        </div> -->
            </div>
            <hr class="py-5">
            <p class="text-body-color py-2 text-base font-medium">&copy; 2023 Agriculture Value-Chain Network (A.V.N)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>