<script setup>
import { reactive, ref, onMounted, onBeforeMount, onBeforeUnmount } from "vue"
import { XMarkIcon, Bars3BottomLeftIcon } from '@heroicons/vue/24/solid'
import { onClickOutside } from "@vueuse/core";

const isMenuOpen = ref(false)
const target = ref(null)
const items = reactive([
  { title: 'Home', url: '/' },
  { title: 'About Us', url: '/about-us' },
  { title: 'Our Offering', url: '/our-offering' },
  { title: 'Why AVN', url: '/why-avn' },
  { title: 'Sign Up', url: '/sign-up' }
])

const atTopOfPage = ref(true)

onMounted(() => {
  window.addEventListener('scroll', handleScroll)
})

onBeforeUnmount(() => {
  window.removeEventListener('scroll', handleScroll)
})

const handleScroll = () => {
  if (window.scrollY > 0) {
    console.log('Scroll over 100')
    if (atTopOfPage.value) atTopOfPage.value = false
  } else {
    if (!atTopOfPage.value) atTopOfPage.value = true
    console.log('Scroll back to top');
  }
}

onClickOutside(target, () => {
  isMenuOpen.value = false
})

</script>

<template>
  <div class="w-full bg-white py-2 shadow-sm relative">
    <div class="max-w-6xl mx-auto justify-between flex items-center px-5 md:px-0">
      <div class="flex items-center gap-2">
        <img src="@/assets/images/logo.png" alt="" class="w-16 h-16">
        <h2 class="text-xl text-[#600060] hidden md:block">Agriculture Value-Chain Network</h2>
        <h2 class="text-2xl font-extrabold text-[#600060] md:hidden">A.V.N</h2>
      </div>
      <div class="flex gap-6 items-center">
        <ul class="gap-6 hidden md:flex">
          <li v-for="item in items" :key="item.title"
            class="font-bold pb-[2px] text-[15px] cursor-pointer hover:border-[#600060] hover:text-[#600060] hover:border-b transition duration-700 ease-in-out">
            <RouterLink :to="item.url">{{ item.title }}</RouterLink>
          </li>
        </ul>
        <!-- <RouterLink to="#about">
              <button
                class="bg-[#600060] text-white rounded-full font-bold py-3 px-4 uppercase text-xs hover:shadow-xl hover:scale-105 transition duration-700 ease-in-out hidden md:block">Learn
                More</button>
            </RouterLink> -->
        <XMarkIcon v-if="isMenuOpen" class="w-8 h-8" @click.prevent="isMenuOpen = !isMenuOpen" />
        <Bars3BottomLeftIcon v-if="!isMenuOpen" class="w-8 h-8 md:hidden" @click.prevent="isMenuOpen = !isMenuOpen" />
      </div>
      <div ref="target" v-if="isMenuOpen"
        class="absolute right-0 w-1/2 bg-white px-7 py-5 rounded-bl shadow z-40 top-[70px] transition duration-700 ease-in-out">
        <ul class="flex flex-col space-y-5">
          <li v-for="item in items" :key="item.title"
            class="font-bold pb-[2px] text-[15px] cursor-pointer hover:border-[#600060] hover:text-[#600060] hover:border-b transition duration-700 ease-in-out"
            @click.prevent="isMenuOpen = !isMenuOpen">
            <RouterLink :to="item.url">{{ item.title }}</RouterLink>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped></style>