<script setup>
import { RouterLink, RouterView } from 'vue-router'
import NavBar from './components/NavBar.vue'
import CookieComply from '@/components/CookieComply.vue'
import Footer from './components/Footer.vue'

</script>

<template>
  <header>
    <div class="wrapper">
      <nav>
        <NavBar />
      </nav>
    </div>
  </header>

  <main>
    <CookieComply class="z-[100] inset-0" />
    <RouterView />
  </main>
  <footer>
    <Footer />
  </footer>
</template>

<style scoped></style>
